__pycache__
.ipynb_checkpoints
.dropbox
Icon?
*.DS_Store
test
*.x
*.hdf
*.xyz
*.pkl
*.png
*.pt
*.pdf
*.svg
*.pth
*.tensor
*.txt
credentials.py

gat/
property_data_correction/
gat_autoencoder/runs/
.idea/
